/* Style for the form container */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for form labels */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style for form inputs */
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the submit button */
  /* button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 119px;
    cursor: pointer;
    font-size: 16px;
  } */
  
  /* button[type="submit"]:hover {
    background-color: #0056b3;
  } */
  
  /* Style for error messages */
  span {
    color: #ff0000;
    font-size: 14px;
  }
  
  /* Optional: Add additional styles as needed */
  