.container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
  }
  
  footer {
    background-color: #fcfeff;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    position: relative;
  }
  
  ul.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f7f4f4;
    /* padding-bottom: 10px 25px ; */
    margin-bottom: 10px;
  }
  
  ul.nav li {
    margin-right: 30px;
  }
  
  ul.nav li:last-child {
    margin-right: 0;
  }
  
  ul.nav a {
    text-decoration: none;
    color: #030303;
  }
  
  ul.nav a:hover {
    color: #da5353;
  }
  
  /* p.text-muted {
    text-align: center;
    color: #050505;
  } */
  .homie-footer{
    background-color: #1b1b1b;
  }
  p,h1,h2,h3,h4,h5,h6, a, .nav-link{
    color:#fff !important ;
  }