/* .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    max-width: 400px;
    margin: 25px 50px 75px 100px;
    background-color: rgb(188, 197, 218);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input {
    width: 300px;
    height: 30px;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #070707;
    border-radius: 12px;
  }
  
  .login-btn {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #050505;
    color: #f3eeee;
    border-radius: 40px;
    cursor: pointer;

    background-color: #020202;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;

  }

  .login-btn1{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(219, 77, 77);
    color: #f3eeee;
    border-radius: 40px;
    cursor: pointer;
   
     
    background-color: #020202;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }
  
  .text {
    margin-top: 40px;
  }
  
  .alt-login {
    display: inline-block;
    justify-content: center;
    cursor: pointer;
  }
  
  input{
    border: none;
    background-color: rgb(159, 187, 187);
    height: 0.5em;
    width: 40%;
    border-radius: 15em;
    text-align: center;
    padding: 1em;
  }
 
  input:focus{
    outline-color: rgb(11, 132, 202);
  }

   */




   /* LoginForm.css */

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-icon {
  margin-right: 0.5rem;
  cursor: pointer;
}
