.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  padding: 8px 16px;
  border: 1px solid #faf5f5;
  border-radius: 4px;
  background-color: rgb(216, 14, 14);
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  padding: 0;
  list-style: none;
  background-color: rgb(8, 77, 228);
  border: 1px solid #fafafc;
  border-radius: 4px;
}

.dropdown-option {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #0e9215;
}
